.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: var(--content-height);
  padding: 1rem;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.viewResults {
  margin: 1rem 0 0;
}

.irvResultContainer {
  display: grid;
}

.irvStage {
  align-items: center;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  margin: 1rem;
}
